$darkBgColor: #3B3F51;
$contrastingFgColor: white;

$tabBgColor: #60788A;
$tabFgColor: white;
$activeTabBgColor: #69B9D2;
$hoverTabBgColor: #4B879D;

$sidebarBgColor: #e9ecf3;


html {
    overflow: hidden;
}

body,
html {
margin: 0;
padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans",sans-serif !important;
}


/*********************
 Outer flexbox: #outer-container contains entire page 
 contents are top-to-bottom "column" flexbox as follows:
   #top-bar - top bar w/ title
   #nav-bar - navigation tabs
   #inner-container - holds content for sidebar, chart pane, sidebar
*********************/

#outer-container {
    width: 100%;
    height: 100%;
    
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items:stretch;
    
    
    
    #top-bar {
        height:35px;
        padding-left:10px;
        
        background-color:$darkBgColor;
        color:$contrastingFgColor;
        
        div {
            display:inline-block;
        }
        div.title {
            font-weight:400;
            font-size:24px;
        }
        div.info-box {
            font-size:20px;
            font-weight:400;
            margin-left:20px;
        }
    }
    
    
    /*****
      Navbar flexbox: #nav-bar contains navigation tabs
      contents use default left-to-right "row" flexbox
    *****/
    #nav-bar {
        // height:25px;
        padding-left:10px;
        height:35px;
        
        background-color:$sidebarBgColor;
        color:$darkBgColor;
        
        text-align:center;
        
        border-bottom: 1px solid #ddd;
            
        .status-header {
            font-weight:400;
            font-size:20px;
            padding:3px;
        }
        // display:flex;
        
        // .nav-tab {
        //     background-color:$tabBgColor;
        //     color:white;
        //     padding:7px 12px 10px;
        //     margin:3px 5px 0 3px;
        //     border-radius:6px 6px 0 0;
        //     font-weight:400;
        //     cursor:pointer;
        // }
        
        // .nav-tab.active {
        //     background-color: $activeTabBgColor;
        // }
        
        // .nav-tab:hover {
        //     background-color: $hoverTabBgColor;
        // }
        
    }//end #nav-bar
    
    

    /*****
        Inner container flexbox for "map view": #inner-container contains 3 panes
        contents use left-to-right "row" flexbox
    *****/
    #inner-container {
        
        max-height:calc(100% - 70px);
        
        flex:1;  //fill rest of the vertical space
        
        display:flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        
        > .sidebar {
            // flex: 0 1 auto;
            min-width:300px;
            // max-width:300px;
            width:300px;
            background: $sidebarBgColor;
            color:#333;
            
            
            padding: 15px;
            overflow:auto;
        }
        
        > #chart-container {
            flex:1 1 auto;
            // width:100%;
            // padding-top:10px;
            
            
            display:flex;
            flex-direction:column;
            
            #toolbar {
                padding:5px;
            }
            
            #myChart {
                flex:1;
                // max-width:1200px; //helps with quirky layout at full-screen size
                align-self:center;
            }
            
            #stats-container {
                padding: 5px 30px;
            }            
        }
        
        > .left-sidebar {
            border-right:1px solid #d9dce3;
        }
        
        > .right-sidebar {
            border-left:1px solid #d9dce3;
        }
        
        .collapser {
            margin: -15px -15px 10px -15px;
            width: 299px;
            text-align: center;
            color: #aeb2c4;
            background-color: #3B3F51;
            cursor: pointer;
            padding: 2px;
            opacity:0.7;
        }
        .collapser:hover {
            opacity:1;
        }
        
        
        > .sidebar.collapsed {
            width:20px;
            max-width:20px;
            min-width:20px;
            text-align: center;
            color: #aeb2c4;
            background-color: #3B3F51;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity:0.7;
        }
        
        > .sidebar.collapsed:hover {
            opacity:1;
        }
        
    }
    
}


.control-panel  {

    
    > ul.control-panel-section {
        padding:3px;
        border: 1px solid #ddd;
        list-style:none;
        
        margin-top:25px;
        
        font-size:15px;
        
        label {
            font-weight:normal;
            margin-bottom:0;
            margin-top:6px;
        }
        
        > li.section-header {
            margin-top:-15px;
            > span {
                background: $sidebarBgColor;
                color: #888;
                font-size: 15px;
                padding: 0 4px;
                font-weight: bold;
            }
        }
        
        .subsection-grouping {
            margin-left:12px;
            margin-bottom:6px;
            label {
                font-weight:normal;
                font-size:small;
                
            }
        }
    }
}


.event-edit-form {
    
    //firefox
    input[type="number"] {
        -moz-appearance: textfield;
        text-align:right;
    }
    
    //Chrome
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

#stats-container {
    tr.row-disabled {
        background-color:lightgray;
        color:gray;
    }
}


.event-list {
    overflow-y:auto;
    max-height:100%;
    
    .event-cp {
        margin-bottom:10px;
    }
    .panel-heading {
        cursor: pointer;
        display:flex;
        align-items:center;
        span.index {
            font-size:200%;
            margin-right: 15px;
            padding: 1px 5px;
            color: white;
            background: black;
            border-radius: 8px;
        }
        div.title {
            flex:1;
        }
    }
}
