
<div id="outer-container" ng-controller="TwzController">
    <div id="top-bar">
        <div class="title">Timewave Explorer</div>
        <div class="btn-group pull-right">
            <a class="btn btn-default" href="https://twz-doc.noonian.io" target="_blank"><i class="fa fa-info-circle"></i> Docs/Help</a>
            <button class="btn btn-default" ng-click="logout()"><i class="fa fa-door-open"></i> Log Out</button>
        </div>
        <div class="info-box pull-right"></div>
    </div>
    <div id="nav-bar">
        <div class="status-header" ng-show="chartedFrom">Showing <strong>{{chartedFrom}}</strong> to <strong>{{chartedTo}}</strong> ({{chartSpan}})</div>
        <!--<div class="nav-tab">SecA</div>-->
        <!--<div class="nav-tab">SecB</div>-->
    </div>
    <div id="inner-container">
        <div class="left-sidebar sidebar collapsed" ng-show="dispState.leftSidebarCollapsed" ng-click="toggleSidebar('left')">
            <i class="fa fa-angle-double-right"></i>
        </div>
        <div class="left-sidebar sidebar" ng-hide="dispState.leftSidebarCollapsed">
            <div class="collapser" ng-click="toggleSidebar('left')"><i class="fa fa-angle-double-left"></i></div>
            
            <div class="control-panel">
                <ul class="control-panel-section">
                    <li class="section-header"><span>Timewave Parameters</span></li>
                    <li><label for="zero-date">Zero Date</label>
                        <p class="input-group">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePickerOpen = !datePickerOpen"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                          <input type="text" class="form-control" uib-datepicker-popup ng-model="zeroDateJs" is-open="datePickerOpen" datepicker-append-to-body="true" close-text="Close"/>
                        </p>
                    </li>
                    
                    <li><label>Number Set</label>
                    <select class="form-control" ng-model="numberSet" ng-options="ns.key as ns.name for ns in numberSets"></select>
                    </li>
                    
                    <li><label>Wave Factor</label>
                    <input type="number" class="form-control" ng-model="waveFactor">
                    </li>
                    
                </ul>
                <ul class="control-panel-section">
                    <li class="section-header"><span>Experimental</span></li>
                    <li>
                        <label>Invert Wave Post-Zero-Date <input type="checkbox" ng-model="invertPostZeroDate"></label>
                    </li>
                    <li>
                        <label>Compute Fractal Dimension <input type="checkbox" ng-model="computeFractalDimension"></label>
                    </li>
                </ul>
                <ul class="control-panel-section">
                    <li class="section-header"><span>Display Range</span></li>
                    <li>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="rangePicker" uib-btn-radio="'dist'">By Timespan</label>
                            <label class="btn btn-primary" ng-model="rangePicker" uib-btn-radio="'date'">By Date</label>
                        </div>
                    </li>
                    
                    <li ng-show="rangePicker == 'dist'"><label class="col-md-12" for="fromDtzMag">Window Start</label>
                        <p class="col-sm-6">
                          <input type="number" id="fromDtzMag" class="form-control" ng-model="displayFromDtz.magnitude"/>
                        </p>
                        <p class="col-sm-6">
                          <select class="form-control" ng-model="displayFromDtz.unit" ng-options="f.val as f.label for f in durationUnits"></select>
                        </p>
                    </li>
                    <li ng-show="rangePicker == 'dist'"><label  class="col-md-12" for="toDtzMag">Window End</label>
                        <p class="col-sm-6">
                          <input type="number" id="toDtzMag" class="form-control" ng-model="displayToDtz.magnitude"/>
                        </p>
                        <p class="col-sm-6">
                          <select class="form-control" ng-model="displayToDtz.unit" ng-options="f.val as f.label for f in durationUnits"></select>
                        </p>
                    </li>
                        <li ng-show="rangePicker == 'date'"><label for="fromDate">Window Start</label>
                            <p class="input-group">
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePicker1Open = !datePicker1Open"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>    
                              <input type="text" class="form-control" uib-datepicker-popup ng-model="displayFromDate" is-open="datePicker1Open" datepicker-append-to-body="true" close-text="Close"/>
                            </p>
                        </li>
                        <li ng-show="rangePicker == 'date'"><label for="toDate">Window End</label>
                            <p class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePicker2Open = !datePicker2Open"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                              <input type="text" class="form-control" uib-datepicker-popup ng-model="displayToDate" is-open="datePicker2Open" datepicker-append-to-body="true" close-text="Close"/>  
                            </p>
                        </li>
                        <li><button class="btn btn-block btn-primary" style="width:100%" ng-click="applyRange()">Apply</button></li>
                    <li>&nbsp;</li>
                </ul>
                
                
                
                <ul class="control-panel-section">
                    <li class="section-header"><span>Options</span></li>
                    <li>
                        <label>Enable Mouse Cursor <input type="checkbox" ng-model="enableMouseCursor"></label>
                    </li>
                    <li>
                        <label  for="zoomPercent">Zoom %</label>
                        <input type="number" id="zoomPercent" class="form-control" ng-model="zoomPercent"/>
                    </li>
                    <li>
                        <label for="shiftPercent">Shift % (pan left/right)</label>
                        <input type="number" id="shiftPercent" class="form-control" ng-model="shiftPercent"/>
                    </li>
                </ul>
                
                
            </div>
        </div>    
        
        <div id="chart-container" >
            <div id="toolbar" >
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="undo()" ng-disabled="!timewave.undoStack.length" uib-tooltip="Undo Window Change" tooltip-placement="bottom"><i class="fa fa-undo"></i></button>
                    </div>
                    
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="zoomOut()" uib-tooltip="Zoom Out" tooltip-placement="bottom"><i class="fa fa-search-minus"></i></button>
                        <button class="btn btn-primary" ng-click="zoomIn()" uib-tooltip="Zoom In" tooltip-placement="bottom"><i class="fa fa-search-plus"></i></button>
                    </div>
                    
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="shiftLeft()" uib-tooltip="Pan Left" tooltip-placement="bottom"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-primary" ng-click="shiftRight()" uib-tooltip="Pan Right" tooltip-placement="bottom"><i class="fa fa-arrow-right"></i></button>
                    </div>
                    
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="upResonance()" uib-tooltip="Next Higher Resonance" tooltip-placement="bottom"><i class="fa fa-backward"></i> <i class="fa fa-clone"></i></button>
                        <button class="btn btn-primary" ng-click="downResonance()" uib-tooltip="Next Lower Resonance" tooltip-placement="bottom"><i class="fa fa-clone"></i> <i class="fa fa-forward"></i></button>
                    </div>
                    <div class="pull-right">Zero Date: {{zeroDateDisp}}</div>
                </div>
            </div>
            
            <canvas ng-if="!dispState.rerender" id="myChart" ng-mouseleave="mouseLeaveCanvas()" ng-mouseenter="mouseEnterCanvas()"  on-scroll="scrollEvent($event)"></canvas>
            
            <div id="stats-container">
                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Days to zero date</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in statRows" ng-class="{'row-disabled':(!r.date)}">
                                    <th scope="row">{{r.header}}</th>
                                    <td>{{r.date}}</td>
                                    <td><span ng-show="r.date">{{r.dtz | number : 4}}</span></td>
                                    <td><span ng-show="r.date">{{r.value | number : 12}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row">Maximum:</th>
                                    <td><a href ng-click="setUserMarker(windowStats.max)">{{windowStats.maxDate}}</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">Minimum:</th>
                                    <td><a href ng-click="setUserMarker(windowStats.min)">{{windowStats.minDate}}</a></td>
                                </tr>
                                <tr ng-show="computeFractalDimension">
                                    <th scope="row">Fractal Dimension</th>
                                    <td>{{windowStats.fractalDimension | number : 7}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="right-sidebar sidebar collapsed" ng-show="dispState.rightSidebarCollapsed" ng-click="toggleSidebar('right')">
            <i class="fa fa-angle-double-left"></i>
        </div>
        <div class="right-sidebar sidebar event-list" ng-hide="dispState.rightSidebarCollapsed">
            <div class="collapser" ng-click="toggleSidebar('right')"><i class="fa fa-angle-double-right"></i></div>
            
            <div class="event-cp">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="toggleEventVisibility()">
                        <i class="fa" ng-class="{'fa-eye-slash':dispState.showEvents, 'fa-eye':(!dispState.showEvents)}"></i> {{ dispState.showEvents ? 'Hide' : 'Show' }} Events
                    </button>
                    <button class="btn btn-primary" ng-click="newEvent()" uib-tooltip="Create New Event" tooltip-placement="bottom" ng-if="permissions.eventCreate">
                        <i class="fa fa-calendar-plus"></i>
                    </button>
                </div>
            
            </div>
            
            <div class="panel panel-default" ng-class="{'panel-danger':(m.selected), 'panel-primary':(!m.selected)}" ng-repeat="m in markerList" ng-click="selectMarker(m)">
                <div class="panel-heading" >
                    <span class="index">{{m.index}}</span>
                    <div class="title">
                        <strong>{{m.dateLabel}}</strong><br>
                        <div class="event-name">{{m.name}}</div>
                    </div>
                    
                </div>
                <div class="panel-body" ng-show="m.selected">
                   <div ng-hide="m.isGroup">{{m.description}} </div>
                   <button class="btn btn-default pull-right" ng-show="m.isEditable" ng-click="editEvent(m)"><i class="fa fa-edit"></i></button>
                   <ul class="list-group" ng-show="m.isGroup">
                       <li class="list-group-item" ng-repeat="mar in m.markers"><strong>{{dtzToLabel(mar.days_start)}}</strong>  {{mar.name}}</li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>