<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <span ng-show="waiting" class="ng-hide"><i class="fa fa-2x fa-spinner fa-pulse"></i> {{waiting}}</span>
    <form class="event-edit-form">
        <div class="checkbox">
            <label><input type="checkbox" ng-model="obj.public" style="margin-top: 1px;"> Visible to Other Users</label>
        </div>
        <div class="form-group">
            <label for="name">Title</label>
            <input id="name" type="" class="form-control" ng-model="obj.name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" ng-model="obj.description"></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags/Categories</label>
            <tags-input id="tags" ng-model="obj.tags" use-strings="true" placeholder="add tags, separated by comma">
                <auto-complete source="getTags($query)"></auto-complete>
            </tags-input>
        </div>
        
        <div class="form-group">
            <label for="link">Link</label>
            <input id="link" type="text" class="form-control" ng-model="obj.link">
        </div>
        
        <div class="form-group">
            <label>Start Date</label>
            <date-editor date="obj.startDate"></date-editor>
        </div>
        <div class="form-group">
            <label>End Date (if applicable)</label>
            <date-editor date="obj.endDate"></date-editor>
        </div>
        
    </form>
    
</div>
<div class="modal-footer">
    <button ng-show="obj._id" class="btn btn-danger pull-left" type="button" ng-click="delete()">Delete</button>
    <button class="btn btn-default" type="button" ng-click="$dismiss()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="submit()" ng-disabled="!obj.name || !obj.startDate.year">Submit</button>
</div>